<li class="list-group-item comment_<%= comment.id%>">
  <div class="row">
    <div class="sppad col-xs-2 col-md-1">
      <%= gravatar @image.user %>
      </div>
    <div class="col-xs-10 col-md-11">
      <div class="special">
        <div class="mic-info">
          By: <a href="#"><%= comment.user.profile.fullname %></a> on <%= comment.created_at.to_s(:short) %>
        </div>
      </div>
      <div class="comment-text">
        <%= comment.body %>
      </div>
    </div>
  </div>
</li>