            <div class="content-wrapper hide-until-loading">

                <div class="pad_b0 pad_u0 body-wrapper">

                    
<!-- header image -->

                    <div class="section-content no-padding">


                        <div class="container">

                            <div class="row">
                                <div class="col-md-12 col-sm-12 no-bottom-margin animated" data-animtype="fadeInUp"
                                     data-animrepeat="0"
                                     data-animspeed="1s"
                                     data-animdelay="0.7s">
                                      <!-- <h2 class="h2-section-title">Today's</h2> -->
                                    <center>

                                        <div class="col-lg-3 not-mobile" style="width:40%;margin-left:29%;position:absolute;margin-top:17%">
                                            <div style="border: 4px solid rgba(89, 89, 89, 0.6);" class="input-group custom-search-form">
                                              <input type="text" id="siz" placeholder="Search your favourite images"class="form-control">
                                              <span class="input-group-btn">
                                              <button id="siz" class=" btn btn-default" type="button">
                                              <span class="glyphicon glyphicon-search"></span>
                                             </button>
                                             </span>
                                             </div><!-- /input-group -->
                                        </div>

                                        <a href="">
                                            <img src="http://s3.picdn.net/images/lohp/hero-11.jpg" alt="MockUp" class="img-responsive ratio" />
                                        </a>                                    
                                    </center>
                                    <div class="space-sep40"></div>                                    

                                    <h3 class="h3-section-info">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo.
                                    </h3>
                                </div>
                            </div>
                        </div>
                    </div>




<!-- header image end -->


    
    <div class="bg section-content section-tabs section-px stones-bg white-text">
      <div class="tab-container">                            
        <div class="container">
          <div class="tab-content">
            <div id="tabc1">
              <%= @images.count %>
              <% @images.in_groups_of(4).each do |image_row| %>
                <div class="row">
                  <% image_row.each do |image| %>
                    <% unless image.nil? %>
                      <div class="pad_3 col-md-3 col-sm-3">
                        <div class="feature animated" data-animtype="fadeInUp" data-animrepeat="0" data-animspeed="1s" data-animdelay="0.4s">
                          <div class=" img-overlay">
                            <img src="<%= image.photo.url(:medium) %>" alt="Blog">
                            <div class="item-img-overlay">
                              <a class="portfolio-zoom fa fa-plus" href="<%= image_path(image) %>" title="<%= image.name %>"></a>
                            </div>
                          </div>
                          <div id ="bg" id ="bg" class="feature-content">
                            <h3 id="cl" id="cl" class="mar_b h3-body-title blog-title">
                              <a href="#"><%= image.name %></a>
                            </h3>
                            <p class="mar_b0"><%= image.user.profile.fullname %></p>
                          </div>
                          <div class="feature-details">
                            <i class="icon-calendar"></i>
                            <span><%= image.created_at.to_s(:short) %></span>
                            <span class="details-seperator"></span>
                            <a href="<%= image_upvote_path(image) %>"><i class="fa fa-thumbs-up"></i><span><%= image.get_upvotes.size %></span></a>
                            <a href="<%= image_downvote_path(image) %>"><i class="fa fa-thumbs-down"></i><span><%= image.get_downvotes.size %></span></a>
                            <a href="#"><i class="icon-comment"></i><span>40</span></a>
                          </div>        
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <div class="space-sep40"></div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>