<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
    

<head>
        <meta charset="utf-8">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <title>Photostore</title>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/ie-fixes.js"></script>
        <link rel="stylesheet" href="css/ie-fixes.css">
        <![endif]-->

        <meta name="description" content="Photostore">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--- This should be placed first off all other scripts -->

        </style>
        <!-- end remprod -->

        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600' rel='stylesheet' type='text/css'>

        <!--[if lt IE 9]>
        <script type="text/javascript" src="js/respond.js"></script>
        <![endif]-->

    </head>
    <body>


        <div id="wrapper"  >

            <div class="top_wrapper">
                <div class="top-bar">
                    <div class="container">
                        <div class="row">                            
                            <div class="col-sm-7">
                                <div class="mail-us top-bar-block">
                                    <i class="icon-email"></i>                            
                                    <span>
                                        E-mail: emailg@email.com
                                    </span>                            
                                </div>

                            </div>

                            <div class="col-sm-5">
                            <% if user_signed_in? %>
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="cust" class="dropdown">
                                        <a id="cust_a" href="#" class="dropdown-toggle" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-user"></span> 
                                            <strong><%= current_user.profile.fullname %></strong>
                                            <span class="glyphicon glyphicon-chevron-down"></span>
                                        </a>
                                        
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <div class="navbar-login">
                                                        <div class="row">
                                                            <div class="col-lg-4">
                                                                <p class="text-center">
                                                                    <span><%= gravatar current_user %></span>
                                                                </p>
                                                            </div>
                                                            <div class="col-lg-8">
                                                                <p class="text-left"><strong><%= link_to "#{current_user.profile.fullname}", account_path(current_user) %></strong></p>
                                                                <p class="text-left small"><%= current_user.email %></p>
                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li class="divider"></li>
                                                <li>
                                                    <div class="navbar-login navbar-login-session">
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <p>
                                                                    <%= link_to "Sign out", destroy_user_session_path, method: 'delete', class: 'btn btn-danger btn-block'%>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        

                                    </li>
                                </ul>
                                <% else %>
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="cust">
                                        <%= link_to "Sign in", new_user_session_path, class: 'btn btn-block' %>
                                    </li>
                                </ul>
                                <% end %>                        
                                <!-- Search Box -->
                                <div class="social-icons">
                                    <ul>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon facebook-icon" data-original-title="facebook">facebook</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon twitter-icon" data-original-title="twitter">twitter</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon googleplus-icon" data-original-title="googleplus">googleplus</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon pininterest-icon" data-original-title="pininterest">pininterest</a>
                                        </li>
                                        <li>
                                            <a href="#" target="_blank" class="social-media-icon dribble-icon" data-original-title="dribble">dribble</a>
                                        </li>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Header -->
                <header id="header">
                    <div class="container">

                        <div class="row header">

                            <!-- Logo -->
                            <div class="col-xs-2 logo">
                                <a href="/">
                                    <h1>Photostore</h1>
                                </a>
                            </div>
                            <!-- //Logo// -->


                            <!-- Navigation File -->
                            <div class="col-md-10">

                                <!-- Mobile Button Menu -->
                                <div class="mobile-menu-button">
                                    <i class="fa fa-list-ul"></i>
                                </div>
                                <!-- //Mobile Button Menu// -->




                                <nav>
                                    <ul class="navigation">
                                        <li>
                                            <a href="/">
                                                <span class="label-nav">
                                                    Today's
                                                </span>
                                                <span class="label-nav-sub" data-hover="Today's!">
                                                    Today's!
                                                </span>
                                            </a>                                            
                                        </li>
                                        <li>
                                            <a href="/trending">
                                                <span class="label-nav">
                                                    Trending Now
                                                </span>
                                                <span class="label-nav-sub" data-hover="Trending Now!">
                                                    Trending Now!
                                                </span>
                                            </a>                                            
                                        </li>
                                        <li>
                                            <a href="/popular">
                                                <span class="label-nav">
                                                    Most Popular
                                                </span>
                                                <span class="label-nav-sub" data-hover="Most Popular!!">
                                                    Most Popular!
                                                </span>
                                            </a>                                            
                                        </li>
                                        <% if user_signed_in? %>
                                            <li>
                                                <a href="/images/new">
                                                    <span class="label-nav btn btn-sm btn-block" style="padding-top:7px !important;">
                                                        Upload
                                                    </span>
                                                </a>                                            
                                            </li>
                                        <% end %>
                                    </ul>

                                </nav>

                                <!-- Mobile Nav. Container -->
                                <ul class="mobile-nav">
                                    <li class="responsive-searchbox">
                                        <!-- Responsive Nave -->
                                        <form action="#" method="get">
                                            <input type="text" class="searchbox-inputtext" id="searchbox-inputtext-mobile" name="s" />
                                            <button class="icon-search"></button>
                                        </form>
                                        <!-- //Responsive Nave// -->
                                    </li>
                                </ul>
                                <!-- //Mobile Nav. Container// -->
                            </div>
                            <!-- Nav -->

                        </div>



                    </div>
                </header>
                <!-- //Header// -->
            </div><!--.top wrapper end -->
            <div class="loading-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
            <div class="main_cont">